@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "Fira Code", monospace;
  --color-primary-green: #2db34a;
  --color-primary-green-dark: #209939;
  --color-hr-bg: #f3f7f7;
  --color-hr-border: #d4dce0;
}

body {
  background-color: var(--color-hr-bg);
  font-family: var(--font-sans);
  color: #39424e;
}

.input-field {
  @apply w-full px-4 py-3 border border-[var(--color-hr-border)] rounded shadow-sm focus:outline-none focus:ring-1 focus:ring-[var(--color-primary-green)] focus:border-[var(--color-primary-green)] transition-colors;
}

.btn-primary {
  @apply w-full bg-[var(--color-primary-green)] hover:bg-[var(--color-primary-green-dark)] text-white font-semibold py-3 px-4 rounded transition-colors duration-200 flex justify-center items-center gap-2;
}
